
# Ignore the seed data and the workloads
data_generator/data/*.json
data_generator/data/*.csv
data_generator/workloads/*.json

# Ignore node_modules
mongodb/node_modules
cassandra/node_modules
node_modules

# ignore .vscode
.vscode
